<html>
    <head>
        <title>{{ title }}</title>
        <link href='/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet'>
        <link href='/css/main.css' rel='stylesheet'>
    </head>
    <body>
        <div class='container'>
            <h2>Acme Users Filter</h2>
        </div>
        <div class='container'>
            <form action='/regenerate' method='POST'>

                <button class='btn btn-default resetBtn'>
                    <span class='glyphicon glyphicon-hand-up' aria-hidden="true"></span>
                    Reset Users
                </button>
            </form>
        </div>
        <div class='container indexDiv '>
            <nav>
                <ul class='nav nav-tabs'>
                    {% for sortedKey in sortedKeys %}
                    <li role="presentation" id="{{ sortedKey.id }}" {% if nav== '{{ sortedKey.id }}' %} class='active' {% endif %}><a href="/users/filter/{{ sortedKey.id }}">{{ sortedKey.id }}({{ sortedKey.repeatVal }})</a></li>
                    {% endfor %}
                    <li role="presentation" id="all" {% if nav== 'all' %} class='active' {% endif %}><a href="/">(all users)</a></li>
                </ul>
            </nav>
        </div>
        <div class='container'>
            <table class='table'>
                <thead class='headingDiv'>
                    <th><h4>First Name</h4></th>
                    <th><h4>Last Name</h4></th>
                    <th><h4>Email</h4></th>
                    <th><h4>Location</h4></th>  
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.location }}</td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table
        </div>        
    </body>
</html>