<html>
    <head>
        <title>{{ title }}</title>
        <link href='/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet'>
        <link href='/css/main.css' rel='stylesheet'>
    </head>
    <body>
        <div class='container'>
            <h2>Acme Users Filter</h2>
        </div>
        <div class='container'>
            <form action='/regenerate' method='POST'>

                <button class='btn btn-default resetBtn'>
                    <span class='glyphicon glyphicon-hand-up' aria-hidden="true"></span>
                    Reset Users
                </button>
            </form>
        </div>
        <div class='container indexDiv '>
            <nav class='nav nav-tabs'>
                <ul>
                    {% for sortedKey in sortedKeys %}
                    <li id="{{ sortedKey.id }}" class='indexList' {% if nav== '{{ sortedKey.id }}' %} class='active' {% endif %}>{{ sortedKey.id }}({{ sortedKey.repeatVal }})</li>
                    {% endfor %}
                    <li id="all" class='indexList' {% if nav== 'all' %} class='active' {% endif %}><a href="/">(all users)</li>
                </ul>
            </nav>
        </div>
        <div class='container headingDiv'>
            <h4><ul>
                <li class='headingFN'>First Name</li>
                <li class='headingLN'>Last Name</li>
                <li class='headingEM'>Email</li>
                <li class='headingLN'>Location</li>
            </ul></h4>

        </div>
        <div class='container'>
            {% block content  %}{% endblock %}
        </div>        
    </body>
</html>