<html>
    <head>
        <title>{{ title }}</title>
        <link href='/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet'>
        <link href='/css/main.css' rel='stylesheet'>
    </head>
    <body>
        <div class='container'>
            <h2>Acme Users Filter</h2>
        </div>
        <div class='container'>
            <form action='/regenerate' method='POST'>

                <button class='btn btn-default resetBtn'>
                    <span class='glyphicon glyphicon-hand-up' aria-hidden="true"></span>
                    Reset Users
                </button>
            </form>
        </div>
        <div class='container indexDiv '>
            <nav>
                <ul class='nav nav-tabs'>
                    {% for sortedKey in sortedKeys %}
                    <li role="presentation" id="{{ sortedKey.id }}" {% if nav== '{{ sortedKey.id }}' %} class='active' {% endif %}><a href="/users/filter/{{ sortedKey.id }}">{{ sortedKey.id }}({{ sortedKey.repeatVal }})</a></li>
                    {% endfor %}
                    <li role="presentation" id="all" {% if nav== 'all' %} class='active' {% endif %}><a href="/">(all users)</a></li>
                </ul>
            </nav>
        </div>
        <div class='container headingDiv'>
            <h4><ul class='center'>
                <li class='headingFN'>First Name</li>
                <li class='headingLN'>Last Name</li>
                <li class='headingEM'>Email</li>
                <li class='headingLO'>Location</li>
            </ul></h4>
        </div>
        <div class='container'>
            {% block content  %}{% endblock %}
        </div>        
    </body>
</html>